body {
  /* margin: 0; */
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
}

.ViewArea {
  /* display: block; */
  /* width: 80%; */
  /* border: 1px solid black;  */
  margin-top: 80px;
  margin-left: 3px;
  /* margin-right: 35px;  */
  /* background-color: rgb(255, 0, 0); */
}

.Sidebar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50px;
  left: -160px;
  width: 160px;
  height: 100%;
  border: none;
  border-right: 1px solid lightgrey;
  overflow: hidden;
  background: rgb(255, 255, 255);
  z-index: 2;
}

.Sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.Sidebar a.active {
  background-color: #1a7ef1;
  color: white;
}

.Sidebar a:hover:not(.active) {
  background-color: rgb(80, 79, 79);
  color: white;
}

@media screen and (max-width: 700px) {
  /* .Sidebar {
    width: 100%;
    height: auto;
    position: relative;
  } */
  /* .sidebar a {float: left;} */
  .ViewArea {
    margin-left: 2px;
    margin-right: 4px;
  }
}


/* custom select thing */

.custom-select {
  position: relative;
  width: 100px;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}